BODY {
	background-color:white;
	font-family : Verdana, Helvetica, sans-serif;
	font-size : 11px;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin:0px;
	padding:0px;
	color:rgb(051,051,051);
	bgproperties:"FIXED";
	scrollbar-shadow-color: #C7D3DB; scrollbar-face-color: #C7D3DB;
    scrollbar-highlight-color: #C7D3DB; scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #EEEEE; scrollbar-track-color: #EEEEEE;
    scrollbar-arrow-color: #000000; 
}

.tabheader {background:#D7E1E6} 
.tabheader2 {background-color:#EBF0F5}
.ltopnav {text-decoration:none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: black; font-weight: bold; }

h4{font-family:Arial;font-size:16px;font-weight:bold;}

p,td {font-size:11px;}
td.AlternatingRow1{background-color:#EEEEEE;}
td.calnav{text-align : right;font-size:10px;}

td.logo{color:white;letter-spacing:3px;font-weight:bold;font-size:10px;background-image : URL('/images/top_logo_03.gif');background-repeat : no-repeat;background-position : left; background-attachment : fixed;}
table.logoheader{background-color:#5B697D;height:43px;}

tr.H {background-color:#EEEEEE;color:004080;}
tr.spaltenkoepfe{background-color:#EEEEEE;}

input,select{font-family:Verdana;font-size:11px;border:silver solid 1px;}
input.noborder{border:none;}
input.submitcol{background-color:#C7D3DB;border:#5B697D solid 1px;padding:2px;}

a {color:#004080}
a.ntd{text-decoration:none;}
a:hover{text-decoration:underline;}
a.smalllink{font-size:10px;color:black;text-decoration:none;}
A:link.ltopnav { font-size: 10px; font-weight: bold; color: black; }
A:hover.ltopnav { font-size: 10px; font-weight: bold; color: black; margin-bottom: 2px; }
a.calnav{text-decoration:none;font-size:10px;}
.contrasttext{color:black;}
.contrastlink{color:#004080;}
.contrastsimplelink{color:#004080;text-decoration:none;}

/* new definitions */
.MainTopNavigation{background-image : URL('/images/top_bg/bg_top_table_gradient.gif');background-color:#C7D3DB;}
.MainTopNavigationFont{font-size:10px;}

.NavLeftTable{background-color:#EBF0F5;border-right:C7D3DB solid 1px;border-bottom:C7D3DB solid 1px;width:100%;}
.NavLeftTableFont{font-weight:normal;}
.NavLeftTableLink{text-decoration:none;}

.NavLeftTableHeader{background-color:#D7E1E6;}
.NavLeftTableHeaderFont{font-weight:bold;letter-spacing:1px;text-transform:uppercase;font-size:10px;}
.NavLeftTableHeaderLink{text-decoration:none;font-weight:bold;}

.HeaderTop{width:100%;border-bottom: C7D3DB solid 1px;background-color:#EBF0F5;}
.HeaderTopFont{font-size:10px;}
.HeaderTopLink{font-size:10px;color:black;text-decoration:none;}

.MiscHeader{background-color:#EEEEEE;}
.MiscHeaderFont{color:black;font-weight:bold;}
.MiscHeaderFontBB{color:black;border-bottom:silver solid 1px;}

.ContentPreview{font-size:10px;color:gray;text-decoration:none;}
.WebmailContentPreview{font-size:10px;color:gray;border-bottom:silver solid 1px;}
.WebmailQuot{color:gray;}

.NavStartHeader{background-color:#EBF0F5;font-weight:bold;}
.NavStartHeaderText{font-weight:bold;color:black;text-decoration:none;}

.ContentAlternateRow{background-color:#EEEEEE;}

.simplelink {text-decoration:none;}

.bb{border-bottom:silver solid 1px;}
.br{border-right:silver solid 1px;}
.bl{border-left:silver solid 1px;}
.bt{border-top:silver solid 1px;}
.b_all{border:silver solid 1px;}
.b_all_bg{border:silver solid 1px;background-color:#EEEEEE;}

.bdashedbottom{border-bottom:dashed silver 1px;}
.bdashedleft{border-left:dashed silver 1px;}
.bdashedright{border-right:dashed silver 1px;}
.bdashedtop{border-top:dashed silver 1px;}

.addinfotext{color:gray;text-decoration:none;}

.calnaveventfound{font-weight:bold;color:black;background-color:#EEEEEE;border-bottom:silver;border-right:silver solid 1px;}
.calnonaveventfound{font-weight:bold;color:silver;background-color:transparent;border-bottom:silver;border-right:silver solid 1px;}

.calmonthnavtop{background-color:#EEEEEE;border-collapse: collapse;}
.calmonth{border-collapse: collapse;border:#CCCCCC solid 1px;}
.calmonthviewbox{vertical-align : top;line-height:16px;height:50px;}

.addressbooksearchbody{background-color:#EEEEEE;}

.webmailcomposebox{border-left:silver solid 1px;border-right:silver solid 1px;background-color:#EEEEEE;}

.statusdone{text-decoration : line-through;color:gray;}
.statusurg{color:red;}

font.PageBanner{font-family:Arial;font-size:14px;font-weight:bold;}