/* special commands for the firefox browser */

.divleftpanelactions {padding:0px;margin:0px;}
.div_startpage_contentbox_content {height:auto;}
.div_main_content_inner {overflow:auto;width:auto;}
.div_left_nav_outer {width:140px;}
				
/* special treatment neccessary */
.div_box {
	width:99%;
	}

/* define fix height ... */
.div_box .div_legend {
	height:20px;
	}
					
/* move menu up ... */
.div_menu_top_popup {
	top: 53px;
	}
					
.in_page_popup_background_mask {
	background-color: silver;
	background-image: URL(/images/backgrounds/img_bg_silver_box_20x20.gif);
	}