/* ie specific adoptions ... */


.div_action_popup li {width:120px;}

.btn {
	/* fix bug with too much left and right padding */
	display:inline;
    overflow:visible;
	}

.btn2 {
	display:inline;
    overflow:visible;
	}

.btn3 {
	display:inline;
    overflow:visible;
	}

/* use silver in IE */
.table_edit_form input {
	border:silver solid 1px;
	}

.table_edit_form textarea {
	border:silver solid 1px;
	}

.table_edit_form select {
	border:silver solid 1px;
	}
        
.div_left_nav_inner {
	border-right:0px;
	}

.div_left_nav_outer {
	width:150px;
	margin-top:10px;
	}
	
.div_module_tabs ul li {
	padding-top:0px;
	}
	
.div_box .div_legend .div_caption {
	font-weight:bold;
	}
	
ul.divleftpanelactions li {
	padding-bottom:1px;
	}
	
.div_box .div_box_content {width:99%;}

#id_div_modal_dialog_load_http_content {
	width:95%;
	}	
/* fix various filter ... only valid for IE */
.in_page_popup_background_mask { filter: alpha(opacity=20); }
#calendar_cover { filter: mask(); }
